body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

.row {
    margin: 0 auto;
}

.header {
    background: url('./images/header.jpg');
    background-size: cover;
    height: 100vh;
}

.header-text {
    margin-top: 0;
    margin-left: 0;
    font-size: 1.5rem;
    color:white;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 1rem;
    text-decoration: none;
    transition: all .2s;
    color: gray;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
    color:#628fd9;
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background:#628fd9;
}

.btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1rem;
    background-color:#628fd9;
    color:white;
    font-weight: 400;
}

.btn:hover{
    color: black;
    border: 1px solid black;
}

.skill_heading, .education_heading {
    border-bottom: 1px solid #628fd9;
    line-height: 50px;
    display: inline-block;
}

.skill_set {
    display: flex;
    justify-content: space-evenly;
}

.element {
    height: 3rem;
    max-width: 5rem;
}

section {
    margin-top: 25rem;
    padding-left: 3rem;
    border-bottom: 1px solid gray;
}

.education {
    margin-top: 50px;
}
#fact_btn {
    background-color: #628fd9;
}

#fact-container{
    color: gray;
    font-size: 16px;
    margin-top: 5px;
}

#submit_comment {
    background-color: #628fd9;
}

#comments {
    margin-top : 20px;
}

#comments_list{
    margin-top: 5px;
    font-size: 13px;
}

#show_comments{
    margin-top: 10px;
    align-items: left;
}

#showCommentsbtn {
    background-color: transparent;
    color: white;
}